<ECF>
    <Genotype>
        <Tree>
            <Entry key="initmaxdepth">5</Entry>
            <Entry key="initmindepth">2</Entry>
            <Entry key="mindepth">2</Entry>
            <Entry key="functionset">+ - * / min max</Entry>
            <!-- X => broj vozila na semaforu; Y => broj ukupnih vozila po traci -->
            <Entry key="terminalset">X0 X1 X2 X3 X4 X5 X6 X7 X8 X9 X10 X11 X12 X13 X14 X15 X16 X17 X18 X19</Entry>
        </Tree>
    </Genotype>
    <Registry>
        <Entry key="randomizer.seed">1</Entry>
        <Entry key="population.demes">10</Entry>
        <Entry key="migration.freq">10</Entry>
        <Entry key="migration.number">5</Entry>
        <Entry key="population.size">100</Entry>
        <Entry key="term.stagnation">10</Entry>
        <!-- <Entry key="term.maxgen">10</Entry> -->
        <Entry key="baseline.mode">0</Entry>
        <!-- postavke simulatora -->
        <Entry key="simulator.config">/home/luka/Documents/Faks/Projekt/data/example_2/config.json</Entry>
        <Entry key="simulator.steps">160</Entry>
        <Entry key="simulator.red.light">2</Entry>
        <Entry key="simulator.yellow.light">2</Entry>
    </Registry>
</ECF>

<!-- baseline: 57.2 -->
<!-- bez zutog: 44.8 -->